@model MvcMovie.Models.Character

<div class="background">
    <div class="description">
        <h1>Character Details</h1>
        <div>
            <h3>Character Name: @Model.CharacterName</h3>
            <p>Level: @Model.Level</p>
            <p>Experience: @Model.Experience</p>
            <!-- Dodaj inne statystyki tutaj -->
        </div>
    </div>
</div>
