@model MvcMovie.Models.Mission

<div class="background">
    <div class="description">
        <h1>Mission Details</h1>

        <h3>@Model.MissionName</h3>
        <p>@Model.Description</p>
        <p>Monster: @Model.Monster.Name</p>
        <!-- Dodaj inne szczegóły misji, które chcesz wyświetlić -->
    </div>
</div>
