html, body {
    font-size: 14px;
    background: #000 url('/uploads/Hunter-x-Hunter-Logo.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #388E3C;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 0 0 5px black;
}

    .navbar-brand:hover, .nav-link:hover {
        color: #ff9800 !important;
    }

.btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-secondary {
    background-color: #FF9800;
    border-color: #FF9800;
}

.btn-danger {
    background-color: #d32f2f;
    border-color: #d32f2f;
}

    .btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
        opacity: 0.9;
    }

.footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

    .footer a {
        color: #4CAF50;
    }

        .footer a:hover {
            color: #ff9800;
        }

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #ffd700; /* Z³oty kolor czcionki */
}

.description {
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 1000px;
    color: #ffd700; /* Z³oty kolor czcionki */
    font-size: 18px; /* Rozmiar czcionki */
}

.card {
    background: rgba(0, 0, 0, 0);
}

.list-group-item {
    background: rgba(0, 0, 0, 0);
}

.buttons {
    text-align: center;
    margin-top: 30px;
}

.btn-custom {
    margin: 5px;
    border: 2px solid #ffd700;
    color: #ffd700;
    background-color: #4CAF50;
    font-size: 16px; /* Rozmiar czcionki */
}

    .btn-custom:hover {
        color: #fff;
        background-color: #388E3C;
    }

td {
    color: #ffd700;
}

.table {
    color: #ffd700;
}

.navbar-brand {
    font-size: 40px;
}

.nav-link {
    font-size: 20px;
}
